<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
    <p>
    Splurty was built by <a target="_blank" href="http://github.com/MarcoMorawec">Marco</a> & <a target="_blank" href="http://github.com/KenMazaika">Ken</a>. Two web developers who are on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
    Together they taught hundreds of students how to code and build products people want at places like Harvard Business School, Carnegie Mellon, Babson, Rhode Island School of Design, Brown University, Punohou High School and ‘Iolani High School.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'img1.png', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Alex Nirschl</h2>
      <br />
      <p>
        I have built this web page using ruby code, with the help of my friends at University of Phoenix Coding Boot Camp! It isn't much and well I am only at the beginning stages still but i hope to gain the knowledge I need to be able to do many things in code. Fingers crossed, and still going.
      </p>
    </div>
  </div>
  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'img2.png', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">The Outlaw</h2>
      <br />
      <p>
        I saw this cute little picture of a cat and thought OMG, that is the one i am going to use. Oh and doing nothing else but trying to write something else until nothing else can be written on this page but it seems .... they ran out.
      </p>
    </div>
  </div>

</div>
<br class="clear" />
<br />
<br />
<br />
<br />